@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  overflow-x: hidden;
}

canvas {
  touch-action: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.transparent-scrollbar::-webkit-scrollbar-track{
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar{
  width: 8px;
}

.transparent-scrollbar::-webkit-scrollbar-thumb{
  background: transparent;
  border-radius: 4px;
}

.transparent-scrollbar::-webkit-scrollbar-thumb:hover{
  background: transparent;
}

.transparent-scrollbar::-webkit-scrollbar-button{
  display: none;
}



.transparent-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #878787 transparent;
}


::-webkit-scrollbar-thumb {
  background: #4834d4;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3525a7;
}